.App {
  text-align: left;
  width: 90%;
  margin:0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.table {
  text-align:left;
  margin:5px;
  width: 100%;
}
.table thead th{
  background: #eee;
}
.table th, .table td{
  padding: 5px;
}
.receiver-list{
  list-style: none;
  overflow: hidden;
}
.receiver-list li {
  float: left;
  padding: 5px;
  background: #eee;
  margin: 0 5px;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.receiver-list li a {
  margin:0 5px;
  text-decoration: none;
  font-weight: bold;
}
.add-sec{
  border: dashed 2px #eee;
  padding: 10px;
}
.total{
  background : #eee;
}
.calculate{
  text-align: center;
}
.calculate a{
  font-size:16px;
  font-weight: bold;
  
}
.footer-form{
  margin: 15px 0 0 0;
  text-align: center;
}
form.form-inline * {
  margin-right: 5px;
}
.hidden{
 visibility: hidden;
}